@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Roboto Regular';
    src:  url(/Fontes/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Bebas';
    src:  url(/Fontes/Bebas-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(320deg, rgba(48,45,76,1) 16%, rgb(61, 56, 92) 66%, rgb(79, 76, 104) 100%);
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(120deg, rgb(241, 211, 176) 0%, #e4b988 85%);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos {
    color: #302d4c;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #302d4c;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #302d4c;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDC18E;
}

.side-item.active a {
    color: #EDC18E;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    padding: 12px;
}

#logout_btn {
    color: #302d4c;
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #ffffff;
    color: #302d4c;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    padding: 30px;
    background-color: #302d4c;
    border-radius: 20px;
    overflow: auto;
}

.container h1{
    text-align: start;
    color: #EDC18E;
    font-family: 'Poppins', sans-serif;
}

.container input {
    background-color: #444068;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 22px;
    color: #EDC18E;
    font-family: 'Poppins', sans-serif;
}

.container .add {
    position: absolute;
    top: 4%;
    right: 5%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDC18E;
    color: #302d4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.container .add:hover {
    background-color: #ffd6a7;
}

.task-actions {
    position: absolute;
    top: 17px;
    left: 355px;
}

.task-actions button {
    padding: 7px 14px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDC18E;
    color: #302d4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: 2px;
}

.task-actions button:hover {
    background-color: #ffd6a7;
}

.container ol {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    background-color: #444068;
    color: #EDC18E;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.container li {
    margin-top: 12px;
    display: block;
    background-color: #444068;
    color: #EDC18E;
    border-radius: 5px;
}

.container li span {
    flex: 1;
    text-align: left;
}

.deleteButton {
    margin-left: 5px;
}
