@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Regular';
    src:  url(/Fontes/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Bebas';
    src:  url(/Fontes/Bebas-Regular.ttf);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302d4c;
}

.loadingDiv{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #302d4c7c;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.loading{
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 6px solid #EDC18E;
    border-top: 6px solid transparent;
    position: absolute;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main{
    width: 1320px;
    height: 760px;
    border-radius: 20px;
    box-shadow:  0px 5px 25px rgba(0, 0, 0, 0.8);
    display: flex;
    background: linear-gradient(120deg, rgb(241, 211, 176) 0%, #EDC18E 85%);
}

.container{
    width: 570px;
    height: 760px;
    padding: 100px;
    border-radius: 20px;
    background: linear-gradient(320deg, rgba(48,45,76,1) 16%, rgba(75,70,105,1) 66%, rgb(79, 76, 104) 100%);
}

.container h1{
    color: #EDC18E;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Poppins';
    align-self: start;
}

.container h2{
    color: #EDC18E;
    padding: 0px 2px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 30px;
    align-self: start;
}

.container form{
    width: 100%;
    height: 100%;
    display: column;
}

.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="password"], .inputBox input[type="password"]{
    width: 100%;
    height: 50px;
    font-family: 'Roboto Regular';
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 0px 10px;
    font-size: 16px;
    color: #EDC18E;
    background-color: #302d4c;
}

.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #EDC18E;
    color: #302d4c;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-bottom: 14px;
    transition: all 0.3s ease;
}

.inputBox button:disabled{
    background: #edc18e8f;
    cursor: not-allowed;
}

.inputBox button:not([disabled]):hover{
    background: #fcd1a1;
}

::placeholder{
    font-size: 16px;
}

.error{
    color: #edc18e8f;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 10px;
}

.main h3{
    color: #302d4c;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 40px;
}

.main h4{
    color: #302d4c;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 40px;
}

button:active{
    opacity: 0.8;
}

.clear{
    background-color: transparent;
    color: #edc18e8f;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
}

.botao button{
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #302d4c;
    color: #EDC18E;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 10px;
    margin-left: 40px;
    transition: all 0.3s ease;
}

.botao button:hover{
    background: #444068;
}

